<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brevet Times</title>
</head>
<body>
{% for time in times %}
<p> Open Time: {{ time.open }} |----| Close Time: {{ time.close }}</p>
{% endfor %}
</body>
</html>
